<th:block>
    <div class="row pt-4">
        <div class="col-md-3">
            <ul class="list-unstyled px-5">
                <li>
                    <a class="text-dark text-decoration-none" href="/"><strong class="fw-bolder">O bag</strong></a>
                </li>
                <li>
                    <label>E-mail: </label>
                    <a class="text-dark text-decoration-none" href="mailto: info@obag.bg">info@obag.bg</a>
                </li>
                <li>
                    <label>Телефон: </label>
                    <a class="text-dark text-decoration-none" href="tel: 0889776694">0889.776694</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <article>
                <ul class="list-unstyled px-5">
                    <li><a class="text-dark text-decoration-none" href="/">Начало</a></li>
                    <li><a class="text-dark text-decoration-none" href="/phylosophy">Философия</a></li>
                    <li><a class="text-dark text-decoration-none" href="/delivery">Доставка</a></li>
                    <li><a class="text-dark text-decoration-none" href="/contact">Контакти</a></li>
                </ul>
            </article>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled px-5">
                <li><a class="text-dark text-decoration-none" href="/faq">Чести въпроси</a></li>
                <li><a class="text-dark text-decoration-none" href="/loyalty">Програма за лоялност</a></li>
                <li><a class="text-dark text-decoration-none" href="/viber">Viber service</a></li>
                <li><a class="text-dark text-decoration-none" href="/conditions">Условия</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled px-5">
                <li><a class="text-dark text-decoration-none" href="/users/login">Вход</a></li>
                <li><a class="text-dark text-decoration-none" href="/users/register">Регистрация</a></li>
                <li><a class="text-dark text-decoration-none" href="">Търсене</a></li>
                <li><a class="text-dark text-decoration-none" href="/claims">Рекламации</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center py-4 small">
            <small>&copy; <strong>2021 O bag Bulgaria</strong>, Color-IT Ltd., Sofia,
                Bulgaria.</small>
        </div>
    </div>
</th:block>