<th:block>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords"
              content="обаг, о баг, o bag, obag, чанта, чанти, дамски чанти, раница, раници, потфейл, часовник, часовници, о клок, o clock, очила, обувки">
        <meta name="description"
              content="O bag е уникална концепция за персонализиращи се продукти, произведени в Италия, нови линии О mini, O moon, О double, O pocket, O clock">
        <title>O bag™</title>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <!--    <style>-->
        <!--        body {-->
        <!--            background-image: url(/static/image/banner.jpeg);-->
        <!--            background-position: top 100px;-->
        <!--            background-repeat: no-repeat;-->
        <!--        }-->
        <!--    </style>-->
    </head>
</th:block>