<th:block xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
    <div id="navbar" class="container-fluid sticky-top bg-white">
        <!-- TOP MENU  -->
        <div class="row" style="font-size: smaller">
            <div class="col p-2">
                <a href="/faq" class="text-dark text-decoration-none">Помощ ?</a>
                <label for="searchBar"></label>
                <input type="search" id="searchBar" class="input-round"
                       placeholder="търси...">
            </div>
            <!--th:if="${@currentUser.isAnonymous()}"-->
            <div sec:authorize="!isAuthenticated()" class="col text-center p-2">
                <a href="/delivery" class="text-dark text-decoration-none">Безплатна доставка над 50лв.</a>
            </div>
            <div class="col">
                <nav id="top-menu" class="navbar sticky-top navbar-light p-0 m-auto">

                    <div class="container-fluid justify-content-end">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <span sec:authorize="isAuthenticated()" th:if="${user}" th:text="|Здравей, ${user}|"
                                      class="nav-link text-dark">
                                </span>
                            </li>
                            <!--th:if="${@currentUser.isAdmin()}"-->
                            <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#"
                                   role="button"
                                   aria-expanded="false">Администрация</a>
                                <ul class="dropdown-menu" style="font-size: small">
                                    <li><a class="dropdown-item text-dark" href="#">Поръчки</a></li>
                                    <li><a class="dropdown-item text-dark" href="/products/add">Продукти</a></li>
                                    <li><a class="dropdown-item text-dark" href="/category/add">Категории</a></li>
                                    <li><a class="dropdown-item text-dark" href="/season/add">Сезони</a></li>
                                    <li><a class="dropdown-item text-dark" href="/season">Дизайн</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item text-dark" href="/logs">Статистика</a></li>
                                    <li sec:authorize="hasRole('SUPERADMIN')">
                                        <a class="dropdown-item text-dark" href="/roles/change">Потребители</a></li>
                                    <li><a class="dropdown-item text-dark" href="/products/import">import JSON</a></li>
                                    <li><a class="dropdown-item text-dark" href="/products/import">import XML</a>
                                    </li>
                                </ul>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="/profile"
                                   role="button" aria-expanded="false">Профил</a>
                                <ul class="dropdown-menu" style="font-size: small">
                                    <li><a class="dropdown-item text-dark" href="/orders">Профил</a>
                                    </li>
                                    <li>
                                        <form th:action="@{/users/logout}" th:method="post">
                                            <input type="submit" class="dropdown-item text-dark" value="Изход">
                                        </form>
                                    </li>
                                </ul>
                            </li>
                                <li th:if="${cartServiceModel != null}" class="nav-item">
                                    <button class="nav-link text-dark position-relative" type="button"
                                            data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasWithBothOptions"
                                            aria-controls="offcanvasWithBothOptions">
                                        Количка
                                        <span th:if="${cartServiceModel.products.size() > 0}"
                                              th:text="${cartServiceModel.products.size()}"
                                              class="position-absolute top-10 start-95 translate-middle badge rounded-pill bg-danger">
                                        2<span class="visually-hidden">продукта</span></span>
                                    </button>
                                    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1"
                                         id="offcanvasWithBothOptions"
                                         aria-labelledby="offcanvasWithBothOptionsLabel">
                                        <div class="offcanvas-header">
                                            <h4 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Количка</h4>
                                            <button type="button" class="btn-close text-reset"
                                                    data-bs-dismiss="offcanvas"
                                                    aria-label="Close"></button>
                                        </div>
                                        <hr>
                                        <div class="offcanvas-body">
                                            <div th:if="${cartServiceModel.products.isEmpty()}">
                                                <h5 class="mb-5">Количката е празна?</h5>
                                                <h6>Безплатна доставка, при поръчка на стойност над 50лв.</h6>
                                            </div>
                                            <div th:unless="${cartServiceModel.products.isEmpty()}">
                                                <div th:each="p : ${cartServiceModel.products}" th:object="${p}"
                                                     class="row mb-3">
                                                    <div class="col-3">
                                                        <img th:src="*{image}"
                                                             alt="" style="max-height: 80px">
                                                    </div>
                                                    <div class="col-9">
                                                        <div class="row">
                                                            <p th:text="*{name}">ТЯЛО OBAG BLACK</p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-3">1x</div>
                                                            <div th:text="|*{price}лв.|" class="col-7 text-end">70.00лв
                                                            </div>
                                                            <div class="col-2">
                                                                <form th:action="@{/cart/{id}(id = *{id})}"
                                                                      th:method="delete">
                                                                    <button type="submit"
                                                                            class="btn text-danger mt-0 pt-0">
                                                                        ✖
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-3"></div>
                                                    <div class="col-9 text-end mb-3">
                                                        <div class="row text-end mb-2">
                                                            <div class="col-7">Доставка:</div>
                                                            <div th:text="|${cartServiceModel.deliveryCost}лв.|"
                                                                 class="col-3">4.00лв
                                                            </div>
                                                        </div>
                                                        <div class="row text-end fw-bolder">
                                                            <div class="col-7">ОБЩА СУМА:</div>
                                                            <div th:text="|${grandTotal}лв.|" class="col-3">130.00лв
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-4"></div>
                                                        <div class="col-4">
                                                            <a sec:authorize="!isAuthenticated()" href="/users/login"
                                                               type="submit"
                                                               class="btn btn-outline-dark btn-round">Поръчка</a>
                                                            <a sec:authorize="isAuthenticated()" href="/cart"
                                                               type="submit"
                                                               class="btn btn-outline-dark btn-round">Поръчка</a>
                                                        </div>
                                                        <div class="col-4"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            <li sec:authorize="!isAuthenticated()" class="nav-item">
                                <a class="nav-link text-dark" th:href="@{/users/login}">Вход</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <hr class="py-0 my-0">
        <!--  MENU   -->
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-white p-0" style=" font-size: medium">
                    <div class="container-fluid">
                        <a class="navbar-brand h1 fw-bold py-0" href="/">O bag</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-5">
                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link text-dark" href="#" id="navbarDropdown" roleEntity="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">Чанти</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li class="small"><a class="dropdown-item" href="/category/obag">O bag</a></li>
                                        <li class="small"><a class="dropdown-item" href="/category/omini">O mini</a>
                                        </li>
                                        <li class="small"><a class="dropdown-item" href="/category/ourban">O urban</a>
                                        </li>
                                        <li class="small"><a class="dropdown-item" href="/category/oreverse">O
                                            reverse</a></li>
                                        <li class="small"><a class="dropdown-item" href="/category/odoc">O doc</a></li>
                                        <li class="small"><a class="dropdown-item" href="/category/ounique">O unique</a>
                                        </li>
                                        <li class="small"><a class="dropdown-item" href="/category/osharm">O sharm</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link text-dark" href="#" id="navbarDropdown" roleEntity="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">За рамо</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li class="small"><a class="dropdown-item" href="/category/opocket">O pocket</a>
                                        </li>
                                        <li class="small"><a class="dropdown-item" href="/category/oglam">O glam</a>
                                        </li>
                                        <li class="small"><a class="dropdown-item" href="/category/ocrossy">O crossy</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link text-dark" href="#" id="navbarDropdown" roleEntity="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">Раници</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li class="small"><a class="dropdown-item" href="/category/backpack">O ivy</a>
                                        </li>
                                        <li class="small"><a class="dropdown-item" href="/category/backpack">O grace</a>
                                        </li>
                                        <li class="small"><a class="dropdown-item" href="/category/backpack">O lift</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link text-dark" href="#" id="navbarDropdown" roleEntity="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">Портфейли</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li class="small"><a class="dropdown-item" href="/category/wallet">O wally</a>
                                        </li>
                                        <li class="small"><a class="dropdown-item" href="/category/wallet">O half</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link text-dark" href="#" id="navbarDropdown" roleEntity="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">Часовници</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li class="small"><a class="dropdown-item" href="/category/oclock">O clock</a>
                                        </li>
                                        <li class="small"><a class="dropdown-item" href="/category/ogreat">O great</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link active" aria-current="page" href="/category/oaccessories">Аксесоари</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link active" aria-current="page" href="/category/oslippers">Обувки</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</th:block>