<th:block>
    <footer class="footer">
        <article>
            <ul>
                <li>
                    <a href="/"><strong>O bag</strong></a>
                </li>
                <li>
                    <label>E-mail: </label>
                    <a href="mailto: info@obag.bg">info@obag.bg</a>
                </li>
                <li>
                    <label>Телефон: </label>
                    <a href="tel: 0889776694">0889.776694</a>
                </li>
            </ul>
        </article>
        <article>
            <ul>
                <li><a href="/">Начало</a></li>
                <li><a href="/phylosophy">Философия</a></li>
                <li><a href="/delivery">Доставка</a></li>
                <li><a href="/contact">Контакти</a></li>
            </ul>
        </article>
        <article>
            <ul>
                <li><a href="/faq">Чести въпроси</a></li>
                <li><a href="/loyalty">Програма за лоялност</a></li>
                <li><a href="/viber">Viber service</a></li>
                <li><a href="/conditions">Условия</a></li>
            </ul>
        </article>
        <article>
            <ul>
                <li><a href="/users/login">Вход</a></li>
                <li><a href="/users/register">Регистрация</a></li>
                <li><a href="#">Търсене</a></li>
                <li><a href="/claims">Рекламации</a></li>
            </ul>
        </article>
        <p class="footer-copy">&copy; <strong>2021 O bag Bulgaria</strong>, Color-IT Ltd., Sofia, Bulgaria.</p>
    </footer>
</th:block>