<th:block>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords"
              content="обаг, о баг, o bag, obag, чанта, чанти, дамски чанти, раница, раници, потфейл, часовник, часовници, о клок, o clock, очила, обувки">
        <meta name="description"
              content="O bag е уникална концепция за персонализиращи се продукти, произведени в Италия, нови линии О mini, O moon, О double, O pocket, O clock">
        <title>O bag</title>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="/css/style.css">
    </head>
</th:block>