html * {
    font-family: 'Century Gothic',sans-serif;
}

.btn-round {
    border-radius: 25px;
    padding: 5px 25px;
    margin: 15px 0;
}

.input-round {
    border-radius: 25px;
}

.product-pics {
    max-height: 30px;
}

.product-pics:hover {
    transform: scale(8);
    transform-origin: -20% 0;
}

.card {
    border: none;
}

.cart-pics {
    max-height: 100px;
}