<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>O bag | Claims</title>
<th:block th:include="~{fragment/head}"></th:block>

<head>
    <style>
        h3 {
            font-size: xx-large;
            text-align: center;
        }

        #claims {
            font-size: 16px;
            text-align: left;
            margin: 0 20%;
            margin-bottom: 200px;
        }
    </style>
</head>

<body>

<th:block th:include="~{fragment/nav}"></th:block>

<div>
    <br>
    <h3>Рекламации</h3>
    <br>
    <div id="claims">
        <p>Ако сте поръчали продукт от www.obag.bg, който не отговаря на очакванията Ви и желаете да го върнете
            или замените, имате право на това в срок от 14 дни след получаването му.</p>

        <p><i>"ЗЗП, Чл. 54. (Изм. – ДВ, бр. 61 от 2014 г., в сила от 25.07.2014 г.) (1) Когато потребителят е
            упражнил правото си на отказ от договора от разстояние или от договора извън търговския обект, търговецът
            възстановява всички суми, получени от потребителя, включително разходите за доставка, без неоправдано
            забавяне и не по-късно от 14 дни, считано от датата, на която е бил уведомен за решението на потребителя
            да се откаже от договора съгласно чл. 52</i></p>

        <p><i>(3) Търговецът няма задължение да възстанови допълнителните разходи за доставка на стоките, когато
            потребителят изрично е избрал начин на доставяне на стоките, различен от най-евтиния вид стандартна
            доставка,
            предлагана от търговеца."</i></p>

        <p>За да върнете продукта, той трябва да е:</p>

        <p>&nbsp;-&nbsp;В търговски вид и оригинална продуктова опакова, както е получен&nbsp;</p>

        <p>&nbsp;-&nbsp;Да не е използван или повреден по какъвто и да било начин</p>

        <p>&nbsp;-&nbsp;Придружен със всички брошури и документи с които е получен</p>

        <p>Ако тези условия НЕ са изпълнени, продуктът няма да бъде приет.</p>

        <p>Моля следвайте следните стъпки при връщане:</p>

        <p>Изпратете ни продукта с куриерска фирма по избор на адреса от който сте го получили.&nbsp;Обърнете внимание,
            че разходите за връщане на продукта са за Ваша сметка.&nbsp;Не забравяйте да ни предоставите коректно
            изписани
            всички детайли на банковата сметка, по която ще възстановим сумата за закупените продукти.&nbsp;
            Ще получите писмено потвърждение по имейл след пристигането и обработката на върнатата стока при нас.
        </p>

        <p>Ще възстановим сумата за закупените продукти до 14&nbsp;дни след потвърждението за тяхното коректно връщане.
        </p>

        <p>За допълнителни въпроси относно връщането на продукти свържете се с Нас, за да поискате рекламация.
        </p>

        <p><i>"ЗЗП,&nbsp;Приложение №6, към&nbsp;чл. 47, ал. 1, т. 8 и чл. 52, ал. 2 и 4&nbsp;(Ново – ДВ, бр. 61 от 2014
            г.,&nbsp;в сила от 25.07.2014 г.)"</i></p>

        <p>В полза на клиентът, закупени стоки в Търговската мрежа, позволяваме да бъдат заменяни (НЕ връщани) в срок от
            3+ дни, като отново продуктът трябва да бъде неупотребяван, в оригинална опаковка и след предоставяне на
            документ удостоверяващ покупката.</p>
    </div>
</div>
</body>

<th:block th:include="~{fragment/footer}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>
</html>