<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>O bag | Conditions</title>
<th:block th:include="~{fragment/head}"></th:block>

<head>
    <style>
        body {
            font-family: 'Montserrat';
            margin: 0;
        }

        .login {
            width: 100%;
        }

        h3 {
            font-size: xx-large;
            text-align: center;
        }

        #conditions {
            font-size: 16px;
            text-align: left;
            margin: 0 20%;
            margin-bottom: 200px;
        }

    </style>
</head>

<body>

<th:block th:include="~{fragment/nav}"></th:block>

<div class="login">
    <br>
    <h3>Условия за ползване</h3>
    <br>
    <div id="conditions">
        <p>ОБЩИ УСЛОВИЯ</p>
        <p>
            <br>
        </p>
        <p>www.obag.bg е официалният сайт на O BAG BULGARIA с електронен магазин, собственост на Колор-ИТ ЕООД, ЕИК: 107583631.</p>
        <p>
            <br>
        </p>
        <p>Електронният магазин на O BAG BULGARIA представлява виртуален информационен ресурс в интернет за продажба и доставка на публикуваните в него стоки, който извършва дейността си съгласно действащото законодателство на Република България.</p>
        <p>
            <br>
        </p>
        <p>Счита се, че посещавайки електронният магазин и използувайки предоставяните услуги, клиентите приемат условията за ползуване.</p>
        <p>
            <br>
        </p>
        <p>Електронният магазин има право да променя по всяко време цените, сроковете и условия касаещи изпълнението на поръчките и използването на сайта. Клиентът дължи цените и е длъжен да спази условията, които са били актуални към момента на правене на поръчката
            или използването на сайта. Всички промени са в рамките на действащото в момента законодателство на Република България.</p>
        <p>
            <br>
        </p>
        <p>Предлаганите продукти в електронният магазин се актуализират на база на наличностите, но е възможно някой модел, размер или разцветка да не са налични. При липса на складова наличност от заявената стока obag.bg, в рамките на един работен ден след получаване
            на заявлението за покупка, уведомява Клиента за изчерпването ѝ чрез изпращане на съобщение до посочения от Клиента електронен адрес или на посочения телефон.</p>
        <p>
            <br>
        </p>
        <p>Приема се, че посочения от клиента имейл при регистрацията му е актуален и се проверява редовно. Чрез изпращане на информация към него се счита, че клиента е официално информиран със съдържанието ѝ.</p>
        <p>
            <br>
        </p>
        <p>При посочени неверен или сгрешен адрес, лице за контакти и/или телефон при подаване на заявката, obag.bg не е обвързан от каквото и да е задължение за изпълнение на поръчката.</p>
        <p>
            <br>
        </p>
        <p><strong>Защита на информацията и личните данни, предоставяни от клиенти</strong></p>
        <p>
            <br>
        </p>
        <p>1.&nbsp;Клиентите поръчват стоки и предоставят информация необходима за изпълнение на поръчката им доброволно.</p>
        <p>
            <br>
        </p>
        <p>2.&nbsp;Предоставената информация се използува само и единствено с цел обслужване на клиента.</p>
        <p>
            <br>
        </p>
        <p>3. Информацията предоставена от клиентите не се предоставя на трети лица, с изключение на партньорски фирми (куриерски служби и др.), пряко участващи в етапите на процеса на обслужване и изпълнение на поръчките на клиентите.</p>
        <p>
            <br>
        </p>
        <p>Електронния магазин взима всички необходими мерки за защита на съхраняваната информация предоставена от клиенти, но не носи отговорност ако с нея се сдобият трети лица в следствие на противозаконно осъществен пробив в системата на сайта.</p>
        <p>
            <br>
        </p>
        <p>При спазване на действащото законодателство и клаузите на настоящите Общи условия, obag.bg може да използва личните данни на Клиента единствено и само за целите, предвидени в договора.</p>
        <p>
            <br>
        </p>
        <p>obag.bg има право да използва информацията по т. 1 за предлагане на стоки и/или услуги на Клиента, за промоции, изпращане на поздравления, организиране на томболи, запитвания, за статистически и всякакви други законосъобразни цели, освен в случай на изрично
            несъгласие на същия, изпратено по e-mail.</p>
        <p>
            <br>
        </p>
        <p>Описаните по-горе цели, за които може да се използват данните, не са изчерпателно изброени и не пораждат задължения за obag.bg. Всякакви други цели, за които се използват данните, ще бъдат съобразени с българското законодателство, приложимите международни
            актове, интернет етиката, правилата на морала и добрите нрави.</p>
        <p>
            <br>
        </p>
        <p><strong>Разкриване на информацията</strong></p>
        <p>
            <br>
        </p>
        <p>obag.bg се задължава да не разкрива никакви лични данни за Клиента на трети лица - държавни органи, търговски дружества, физически лица и други, освен в случаите когато:</p>
        <p>
            <br>
        </p>
        <p>&middot;&nbsp;е получил изричното писмено съгласие на Клиента;</p>
        <p>
            <br>
        </p>
        <p>&middot; информацията е изискана от държавни органи или длъжностни лица, които според действащото законодателство са оправомощени да изискват и събират такава информация;</p>
        <p>
            <br>
        </p>
        <p>&middot;&nbsp;obag.bg е длъжен да предостави информацията по силата на закона.</p>
        <p>
            <br>
        </p>
        <p><strong>Права и задължения на страните</strong></p>
        <p>
            <br>
        </p>
        <p>1.&nbsp;obag.bg се задължава:</p>
        <p>&middot;&nbsp;да прехвърли на Клиента собствеността на заявената за покупка от него стока</p>
        <p>&middot;&nbsp;да достави в срок заявената за покупка стока</p>
        <p>&middot;&nbsp;да полага дължимата грижа за изпълнение на своите задължения</p>
        <p>&middot;&nbsp;преди да бъде изпратен всеки артикул се проверява за пълна функционалност и съвместимост на компонентите.</p>
        <p>&middot; гарантираме, че всички продукти са фабрично нови. (неупотребявани!)</p>
        <p>
            <br>
        </p>
        <p>2.&nbsp;Клиентът се задължава:</p>
        <p>&middot;&nbsp;да посочи точен и валиден телефон, адрес за доставка и електронен адрес;</p>
        <p>&middot;&nbsp;да плати цената на стоката;</p>
        <p>&middot;&nbsp;да заплати разходите по доставката, при наличие на такива;</p>
        <p>&middot;&nbsp;да осигури достъп и възможност за получаване на стоката;</p>
        <p>&middot;&nbsp;да получи вещта.</p>
        <p>
            <br>
        </p>
        <p>Заявената за покупка стока се доставя на посочения от Клиента адрес за доставка в срок &nbsp;до 3 работни дни. Стоката се доставя подходящо опакована съобразно вида й и транспорта за доставка.</p>
        <p>
            <br>
        </p>
        <p>При предаване на стоката Клиентът или трето лице подписват придружаващите я документи. За трето лице се счита всеки, който не е титуляр на заявлението, но приема стоката на доставка и е на посочения от клиента адрес.</p>
        <p>
            <br>
        </p>
        <p>При заплащането в брой при доставка се използва Пощенски паричен превод (ППП). Клиента получава фискален документ от Спиди АД като лицензиран пощенски оператор за извършване на пощенски парични преводи по смисъла на Закона за пощенските услуги. Клиента
            запазва фискалният документ, който замества касова бележка в доказателство за извършеното плащане!</p>
        <p>
            <br>
        </p>
        <p>При отказ за получаване на стоката, извън случаите описани по-долу, отказът се счита за неоснователен и Клиентът дължи заплащане на разходите за доставка и връщане на стоката. В този случай Клиентът е длъжен да обезщети obag.bg за всички вреди и пропуснати
            ползи, включително и за всякакви други разходи извън разходите за доставка и връщане на стоката, настъпили в следствие на отказа.</p>
        <p>
            <br>
        </p>
        <p>В случай, че Клиентът не бъде намерен в срока за изпълнение на доставката на посочения адрес или не бъде осигурен достъп и условия за предаване на стоката в този срок, obag.bg се освобождава от задължението си да достави заявената за покупка стока. Клиентът
            може да потвърди желанието си да получи стоката и след изтичане на срока за доставка, в който не е бил намерен на адреса, като поема всички разходи по доставката. В този случай започва да тече съответно нов срок за доставка от момента на потвърждението
            по предходното изречение.</p>
        <p>
            <br>
        </p>
        <p>Клиентът има право да откаже получаването на заявената за покупка от него стока, когато тя му е доставена при едно от следните условия:</p>
        <p>
            <br>
        </p>
        <p>&middot;&nbsp;доставената стока явно не съответства на заявената за покупка от Клиента и това може да се установи чрез обикновения и преглед;</p>
        <p>
            <br>
        </p>
        <p>&middot;&nbsp;цената, която Клиентът следва да заплати, не съответства на дължимата цена;</p>
        <p>
            <br>
        </p>
        <p>&middot; при несъответствие между заявената за покупка и доставената стока, което не е било възможно да бъде установено в момента на доставката, Клиентът може да иска доставената му стока да бъде заменена със съответстваща на направеното от него заявление
            за покупка в срок от 24 часа от получаването ѝ.</p>
        <p>
            <br>
        </p>
        <p><strong>Отговорност</strong></p>
        <p>
            <br>
        </p>
        <p>obag.bg не носи отговорност за неизпълнение на задълженията си по този договор при настъпване на обстоятелства, които obag.bg не е предвидил и не е бил длъжен да предвиди &ndash; вкл., но не само, случаи на непреодолима сила, случайни събития, проблеми
            в глобалната мрежа на Интернет и в предоставянето на услугите извън контрола на obag.bg</p>
        <p>
            <br>
        </p>
        <p><strong>Арбитраж</strong></p>
        <p>
            <br>
        </p>
        <p>Всички спорове между страните се решават в дух на разбирателство и добра воля. В случай, че съгласие не бъде постигнато, всички неразрешени спорове, породени от договора между страните или отнасящи се до него, включително спорове, породени или отнасящи
            се до неговото тълкуване, недействителност, изпълнение или прекратяване, както и спорове за попълване на празноти в договора или приспособяването му към нововъзникнали обстоятелства, ще бъдат разрешавани от компетентния съд в град София, съобразно
            българското законодателство.</p>
        <p>
            <br>
        </p>
        <p>Всички материали в електронният магазин са собственост на O BAG BULGARIA и могат да се използуват съгласно целите за които са предоставени и не могат да бъдат използувани за търговски цели извън сайта.</p>
    </div>
</div>
</body>

<th:block th:include="~{fragment/footer}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>
</html>