<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>O bag | Delivery</title>
<th:block th:include="~{fragment/head}"></th:block>

<head>
    <style>
        body {
            font-family: 'Montserrat';
            margin: 0;
        }

        .login {
            width: 100%;
        }

        h3 {
            font-size: xx-large;
            text-align: center;
        }

        #phylosophy {
            font-size: 16px;
            text-align: left;
            margin: 0 20%;
            margin-bottom: 200px;
        }

    </style>
</head>

<body>

<th:block th:include="~{fragment/nav}"></th:block>

<div class="login">
    <br>
    <h3>Доставка</h3>
    <br>
    <div id="phylosophy">
        <p>Доставката на закупените продукти, посредством куриерска фирма СПИДИ, чрез експресна услуга е безплатна за
            поръчки над 50лв.</p>
        <p>Времето за доставка е средно от 1 или 2 работни дни от направата на поръчката, без да надвишава 3 работни дни.
            София и всички останали населени места - 1 или 2 работни дни (вкл. Събота).</p>
        <p>В Интернет страницата, след Вход с Вашата регистрация в меню ПОРЪЧКИ  може да проследите статуса и срока на
            доставка на конкретни стоки, който има ориентировъчен характер, и който не отменя уговорения със сключване на
            договора от разстояние срок на доставка по предходното изречение. Ако продуктът не може да бъде доставен, O BAG BULGARIA се задължава да информира Клиента за това.</p>
        <p>Рискът от загуба или повреда на закупените продукти преминава върху Клиента в момента, в който Клиентът или
            посочено от него трето лице,  различно от избраната от O BAG BULGARIA компания за куриерски услуги,
            влезе във владение на стоките.</p>
        <p>Ние доставяме на територията на Република България. За адрес на доставка извън България, моля свържете се с Нас,
            за да Ви упътим към друг официален представител на O BAG за Вашия регион.</p>
    </div>
</div>
</body>

<th:block th:include="~{fragment/footer}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>
</html>