<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>O bag | FAQ</title>
<th:block th:include="~{fragment/head}"></th:block>

<head>
    <style>
        body {
            font-family: 'Montserrat';
            margin: 0;
        }

        .login {
            width: 100%;
            margin-top: 150px;
        }

        h3 {
            font-size: xx-large;
            text-align: center;
        }

        #phylosophy {
            font-size: 16px;
            text-align: left;
            margin: 0 20%;
            margin-bottom: 0px;
        }

    </style>
</head>

<body>

<th:block th:include="~{fragment/nav}"></th:block>

<div class="login">
    <h3>Често задавани въпроси</h3>
    <div id="phylosophy">
        <p>Тук може да прочетете отговорите на често задавани въпроси:</p><br>
        <span style="font-weight: bold">ИЗПРАТЕНА ЛИ Е ПОРЪЧКАТА МИ И КОГА ЩЕ Я ПОЛУЧА ?</span>
        <p>Влезте с Вашия акаунт,  бутона ВХОД (най-горе в дясно на Вашия екран). Изберете меню ПОРЪЧКИ, там е указан
            статусът на Вашата поръчка. Ако нямате регистрация, направете регистрация от бутона РЕГИСТРАЦИЯ (най-горе в
            дясно на Вашия екран). Времето за доставка е средно от 1 до 3 работни дни от направата на поръчката,
            без да надвишава 5 работни дни. Повече информация тук.</p><br>
        <span style="font-weight: bold">КАК МОГА ДА ПЛАТЯ ?</span>
        <p>Предлагаме няколко варианта за заплащане на поръчаните стоки:  Наложен платеж, Банков Превод , Pay Pal или с
            Кредитна/Дебитна карта през Pay Pal.</p><br>
        <span style="font-weight: bold">ЖЕЛАЯ ДА ПОРЪЧАМ ПРОДУКТ/ЦВЯТ ОТ МИНАЛА КОЛЕКЦИЯ, ВЪЗМОЖНО ЛИ Е ?</span>
        <p>Не. Всички налични продукти и такива с възможност за доставка са показани на страницата.</p><br>
        <span style="font-weight: bold">МОГА ЛИ ДА НАПРАВЯ ПОРЪЧКА В „ФЕЙСБУК“ СТРАНИЦАТА ВИ ?</span>
        <p>Да. Посочете Вашето име, точен адрес и телефон, както и конкретно желаните продукти.</p><br>
        <span style="font-weight: bold">СЪВМЕСТИМИ ЛИ СА ДРЪЖКИТЕ ОТ МОЯТА O BAG С ДРУГИТЕ СЕРИИ ЧАНТИ ?</span>
        <p>Да. Дръжките за чанти O bag са съвместими със серии O mini, O urban, O square и O reverse.</p><br>
        <span style="font-weight: bold">ПОЛУЧЕНИЯ ПРОДУКТ НЕ ОТГОВАРЯ НА МОИТЕ ОЧАКВАНИЯ, КАК МОГА ДА ГО ВЪРНА ?</span>
        <p>Следвайте стъпките описани в секция Рекламации тук.</p><br>
        <span style="font-weight: bold">С КАКВО ДА ПОЧИСТВАМ ТЯЛОТО НА МОЯТА ЧАНТА O BAG ?</span>
        <p>Почиствайте с памучна кърпа със сапун и топла вода, или „мокри“ кърпи без алкохол.</p><br>
        <span style="font-weight: bold">ЧАСОВНИКЪТ O CLOCK ВОДОУСТОЙЧИВ ЛИ Е ?</span>
        <p>O clock е водорезистентен часовник, 3АТМ, устойчив на пръски или при измиване на ръце. Не е водоустойчив при
            къпане и плуване.</p><br>
        <span style="font-weight: bold">ИМАТЕ ОЩЕ ВЪПРОСИ ?</span>
        <p>Пишете ни! Ще се радваме да отговорим на всички Ваши запитвания...</p><br>
    </div>
</div>
</body>

<th:block th:include="~{fragment/footer}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>
</html>