<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>O bag | UpdateProfile</title>
<th:block th:include="~{fragment/head}"></th:block>

<body>
<div class="container-fluid">
    <th:block th:include="~{fragment/nav}"></th:block>

    <div class="row">
        <div class="col-md-12 text-center">
            <br>
            <h3>Прoфил | Поръчки | Любими</h3>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <a href="/profile" id="profile-btn" class="btn btn-outline-primary btn-round">Профил</a>
            <p><small class="text-dark">* редактирайте Вашия профил (име, телефон, адрес, парола...).</small></p>
        </div>
        <div class="col-md-4 text-center">
            <a href="/orders" id="orders-btn" class="btn btn-outline-primary btn-round">Поръчки</a>
            <p><small class="text-dark">* списък на Вашите поръчки, и текущият им статус.</small></p>
        </div>
        <div class="col-md-4 text-center">
            <a href="/favourites" id="favourites-btn" class="btn btn-outline-primary btn-round">Любими</a>
            <p><small class="text-dark">* списък с Вашите любими продукти.</small></p>
        </div>
    </div>
    <br>

    <div class="row">

    </div>

</div>
</body>

<th:block th:include="~{fragment/footer}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>
</html>