<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"></th:block>

<body>
<div class="bg-img">

    <th:block th:include="~{fragments/nav}" ></th:block>

    <div class="horizontal-text">
        <h1>Unique as you are</h1>
        <p>O bag unique, the new "icon bag" now available in the colours of the new Autumn-Winter collection.</p>
        <button>I want it</button>
    </div>
</div>
<main>
    <div class="row">
        <div class="column">
            <img class="square" src="/image/obag.jpg" alt="O bag bags" style="width: 100%;">
        </div>
        <div class="column">
            <div class="text">
                <h2>O bag classic</h2>
                <p>The icon bag available in the colors of the new Autumn-Winter collection.</p>
                <button>Shop now</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="text">
                <h2>O urban</h2>
                <p>City chick, elegant and modern...</p>
                <button>Discover</button>
            </div>
        </div>
        <div class="column">
            <img class="square" src="/image/ourban.jpg" alt="O urban bags" style="width: 100%;">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img class="square" src="/image/odoc.jpg" alt="O doc bags" style="width: 100%;">
        </div>
        <div class="column">
            <div class="text">
                <h2>I'm The Best</h2>
                <p>Are you a true O bag Lover? Then these bags and accessories are a must-have items in your
                    wardrobe.</p>
                <button>Shop now</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="text">
                <h2>U are unique</h2>
                <p>Shop O bag unique, unique just like you!</p>
                <button>Shop now</button>
            </div>
        </div>
        <div class="column">
            <img class="square" src="/image/ounique.jpg" alt="O unique bags" style="width: 100%;">
        </div>
    </div>
    <a href="/viber">
        <img id="viber" src="/image/viber.jpg" alt="viber">
    </a>

</main>

<th:block th:include="~{fragments/footer}"></th:block>

<script src="/js/sticky-menu.js"></script>
</body>

</html>