<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>O bag | Login</title>

<th:block th:replace="~{fragment/head}"></th:block>

<body>
<div class="container-fluid">
    <th:block th:replace="~{fragment/nav}"></th:block>

    <div class="row">
        <div class="col-md-4 text-center"></div>
        <div class="col-md-4 text-center">
            <br>
            <h3>Вход</h3>
            <br>
            <form th:action="@{/users/login}" th:method="post" th:object="${userLoginBindingModel}">
                <div class="mb-3">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <label for="email" class="form-label">Е-мейл <span class="text-danger">*</span></label>
                    <input th:field="*{email}" th:errorclass="is-invalid"
                           type="email" name="email" class="form-control input-round" id="email"
                           aria-describedby="emailHelp">
                    <div th:if="${notFound}" id="emailHelp" class="form-text text-danger">
                        Този емейл не съществува в базата.
                    </div>
                    <div id="emailHelp1" class="form-text text-danger invalid-feedback">
                        Неавалиден емайл адрес.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password <span
                            class="text-danger">*</span></label>
                    <input type="password" name="password" class="form-control input-round" id="password">
                    <div th:if="${notMatch}" id="password1" class="form-text text-danger">
                        Неавалиден емайл или парола.
                    </div>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-text text-danger">
                    </div>
                </div>
                <small class="text-danger">* Задължителни полета.</small>
                <br>
                <button type="submit" class="btn btn-outline-dark btn-round">Вход</button>
                <br>
                <small>Забравена парола?</small>
                <br>
            </form>
        </div>
    </div>
    <div class="col-md-4 text-center"></div>
    <br>

</div>
</body>

<footer th:replace="/fragment/commons::footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>
</html>