<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"></th:block>

<head>
    <style>
        body {
            font-family: 'Montserrat';
            margin: 0;
        }

        .login {
            width: 100%;
            margin-top: 150px;
        }

        h3 {
            font-size: xx-large;
            text-align: center;
        }

        #phylosophy {
            font-size: 16px;
            text-align: left;
            margin: 0 20%;
            margin-bottom: 200px;
        }

    </style>
</head>

<body>

<th:block th:include="~{fragments/nav}"></th:block>

<div class="login">
    <h3>Философия</h3>
    <div id="phylosophy">
        <span style="font-weight: bold">O bag®</span>
        <p>O bag е италианска компания, която навлиза на международния пазар за моден дизайн през 2009г.,
            създавайки продукти от иновативни материали предлагани под слогана Made in Italy стил и качество.</p>
        <p>Днес O bag е позната като лидер на пазара с уникалната си концепция за персонализиращи се продукти, създадени
            и проектирани в Италия, използвайки най-съвременни материали като XL Extralight® силикон. Широката
            продуктова гама обхваща освен O bag чанти и техните компоненти и аксесоари - часовници, очила, гривни,
            обувки и аксесоари за дома.</p>
        <p>Компанията в момента управлява и използва потенциала на различните пазари, благодарение на развитието на
            търговията на дребно, започнало през 2012 г. С марката O bag, компанията вече присъства в над 40 страни, с
            динамичен и чувствителен подход към еволюцията най-вече на нуждите на обществеността.</p>
        <p>O bag се базира на концепцията "O": Един (уникален), Собствен (принадлежащ на себе си), Оригинален. Клиентът
            може да персонализира и да създаде свой собствен уникален аксесоар чрез смяна само на един от
            компонентите.</p>
        <p>Марката O bag е родена спонтанно от успеха на чанти, изработени от XL Extralight® материал - иновативен,
            супер-лек и разпознаваем. O bag е ориентирана към широка обществена аудитория, която има възможността да
            изрази своята индивидуалност и да избира свободно.</p>
    </div>
</div>
</body>

<th:block th:include="~{fragments/footer}"></th:block>
<script src="/js/fixed-menu.js"></script>
</html>