<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
            margin: 0px;
            max-width: 1920px;
        }

        div {
            display: inline-block;
            margin-top: 0;
        }

        .register {
            margin: 5% 45%;
            top: 0;
        }

        h3,
        form,
        .register small {
            text-align: center;
        }
    </style>
</head>

<body>

<div class="register">
    <h3>Регистрация:</h3>
    <br>
    <form action="login" method="POST">
        <small for="">Име</small><br>
        <input type="text" name="firstName" id="">
        <br>
        <small for="">Фамилия</small><br>
        <input type="text" name="lastName" id="">
        <br>
        <small for="">Телефон</small><br>
        <input type="number" name="telephone" id="">
        <br>
        <small for="">Е-мейл</small><br>
        <input type="text" name="email" id="">
        <br>
        <small for="">Парола</small><br>
        <input type="text" name="password" id="">
        <br>
        <small for="">Потвърдете паролата</small><br>
        <input type="text" name="rePassword" id="">
        <br>
        <br>
        <small for="">Адрес</small><br>
        <input type="text" name="address" id="">
        <br>
        <small for="">Град</small><br>
        <input type="text" name="city" id="">
        <br>
        <small for="">Пощенски код</small><br>
        <input type="text" name="postCode" id="">
        <br>
        <small for="">Държава</small><br>
        <input type="text" name="country" id="">
        <br>
        <br>
        <input type="submit" value="Регистрирай"</form>
</div>
</body>

<footer class="footer">
    <article>
        <ul>
            <li>
                <label><strong>O bag</strong></label>
                <a href="/index.html"></a>
            </li>
            <li>
                <label>E-mail: </label>
                <a href="mailto: info@obag.bg">info@obag.bg</a>
            </li>
            <li>
                <label>Телефон: </label>
                <a href="tel: 0889776694">0889.776694</a>
            </li>
        </ul>
    </article>
    <article>
        <ul>
            <li><a href="">Начало</a></li>
            <li><a href="">Философия</a></li>
            <li><a href="">Доставка</a></li>
            <li><a href="contact.html">Контакти</a></li>
        </ul>
    </article>
    <article>
        <ul>
            <li><a href="">Чести въпроси</a></li>
            <li><a href="">Програма за лоялност</a></li>
            <li><a href="viber.html">Viber service</a></li>
            <li><a href="">Условия</a></li>
        </ul>
    </article>
    <article>
        <ul>
            <li><a href="login.html">Вход</a></li>
            <li><a href="register.html">Регистрация</a></li>
            <li><a href="">Търсене</a></li>
            <li><a href="">Рекламации</a></li>
        </ul>
    </article>
    <p class="footer-copy">&copy; <strong>2021 O bag Bulgaria</strong>, Color-IT Ltd., Sofia, Bulgaria.</p>
</footer>

</html>