<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O bag: Viber</title>
</head>
<body>

.viber!


Вие сте почитател на O bag ?


Вече може да получавате всички новини и актуализации от света на O bag директно на Вашия смартфон: нови продукти и
колекции, промоции, събития в магазина и много други!


Сканирайте QR кодът с камерата на Вашия смартфон и следвайте инструкциите, за да активирате услугата с няколко лесни
стъпки! Информационните съобщения са безплатни и могат да бъдат прекъснати във всеки един момент.*


Всички снимки и видеоклипове се записват по подразбиране в телефонът Ви, ако не желаете това да става, може да
деактивирате тази настройка от "Настройки" > "Мултимедия" > изключете "Запазване в галерия".


* Ако не желаете да получавате Нашите информационни съoбщения, може да напуснете групата сами или да заявите към
Администратор да бъдете изключени.


</body>
</html>