<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>O bag | Viber</title>
<th:block th:include="~{fragment/head}"></th:block>

<head>
    <style>
        h3 {
            font-size: xx-large;
            text-align: center;
        }

        #phylosophy {
            font-size: 16px;
            text-align: left;
            margin: 0 20%;
            margin-bottom: 0px;
        }
    </style>
</head>

<body>
<div class="container-fluid">
    <th:block th:include="~{fragment/nav}"></th:block>

    <div>
        <img style="display: block; width: 80%; margin-left: auto; margin-right: auto" src="/image/viber_page.jpg">
        <div id="phylosophy">
            <br>
            <h3>Вие сте почитател на O bag ?</h3>
            <br>
            <p>Вече може да получавате всички новини и актуализации от света на O bag директно на Вашия смартфон: нови
                продукти и колекции, промоции, събития в магазина и много други!</p>
            <a href="https://invite.viber.com/?g2=AQBEh9IZRx3Kw0nVkw2%2FZppRCYXFBw%2F5rYsk%2B8mz11N%2BWLSyqnI2JKvX0xuOoxzj&lang=bg">
                <img style="display: block; width: 10%; margin-left: auto; margin-right: auto" src="/image/QR_code.png">
            </a>

            <p>Сканирайте QR кодът с камерата на Вашия смартфон и следвайте инструкциите, за да активирате услугата с
                няколко лесни стъпки! Информационните съобщения са безплатни и могат да бъдат прекъснати във всеки един
                момент.*</p>

            <p>Всички снимки и видеоклипове се записват по подразбиране в телефонът Ви, ако не желаете това да става,
                може да деактивирате тази настройка от "Настройки" > "Мултимедия" > изключете "Запазване в галерия".</p>

            <p>* Ако не желаете да получавате Нашите информационни съoбщения, може да напуснете групата сами или да
                заявите
                към Администратор да бъдете изключени.</p>

        </div>
    </div>
</div>
</body>

<th:block th:include="~{fragment/footer}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>
</html>